gcp_project_id          = ""
primary_region          = ""
repository_id           = ""
secrets_file            = ""
cloud_sql_instance_name = ""
cloud_sql_db_name       = ""
network_name            = ""
vpc_subnet_cidr         = ""
vpc_connector_name      = ""
memorystore_name        = ""
service_account_name    = ""
cloud_run_name          = ""
